---
import Layout from '../layouts/Layout.astro';
---

<fragment set:html={`<meta name="verify-admitad" content="30fddfb083" />`} />

<Layout title="Welcome">
  <h1>مرحبًا بك في صفحتك</h1>
  <p>تم إنشاء هذه الصفحة للتحقق من الملكية في Admitad.</p>
  <a href="https://wa.me/966547240950" class="btn btn-lg sm:min-w-64">تحدث معنا عبر واتساب</a>
</Layout>
